@model AisMKIT.Models.Director

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Director</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SecondName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagementStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagementStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ManagementEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ManagementEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.listOfEducationsModel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.listOfEducationsModel.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
