@model AisMKIT.Models.SubInstitution

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SubInstitution</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TIN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TIN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LegalAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LegalAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Contact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DomainEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DomainEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
